<style type="text/css">
    
        body {
            background-image: url(ttt.jpg);
            background-size: cover;
            margin:0;
            padding:0;
        }
        .title1 {
            font-size: 30px;
            text-align: center;
        }
        #gamettt {
            margin-left: 35%;
            text-align: center;
        }
        #box{
            width:362px;
            height:362px;
            border:1px solid #000;
        }
        
        input {
            float: left;
            display: inline-block;
            width:118px;
            height:118px;
            margin:1px;
            border: none;
            font-size: 85px;
            color: #000;
            padding:0px;
        }
      
        #resetbtn {
            width:362px;
            height:100px;
            border: none;
            font-size 50px;
            color:cornsilk ;
            background:#333;
            border-radius: 20px;
        }
        
/*responsive lay out using media queries */  
        
        @media only screen and (min-width: 150px) and (max-width: 750px){
            
            body{
                width: 80%;
                margin-left: 10%;
                margin-right:10%;
            }
            #gamettt{
                margin-left: 10%;
            }
            .title1{
                font-size: 22px;
                text-align: center;
                margin-left: 2%;
            }
        }
/*responsive lay out using media queries */  
        
        @media only screen and (min-width: 751px) and (max-width: 1150px){
            
            body{
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
            }
            #gamettt{
                margin-left: 30%;
            }
        }
        
    </style>
    